.top-div-with-bg {
  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-div-without-bg {
  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  height: calc(100vh - 140px);
}

.mt-180 {
  margin-top: 180px;
}

@media (max-width: 1275px) {
  .top-div-with-bg {
    margin-top: 65px;
    height: auto;
  }

  .top-div-without-bg {
    margin-top: 75px;
    height: auto;
  }

  .mt-180 {
    margin-top: 75px;
  }
}
