.only-mobile-flex {
  display: none !important;
}

@media (max-width: 1265px) {
  .only-mobile-flex {
    display: flex !important;
  }
}

.only-mobile-block {
  display: none !important;
}

@media (max-width: 1265px) {
  .only-mobile-block {
    display: block !important;
  }
}

.only-desktop-flex {
  display: flex;
}

@media (max-width: 1265px) {
  .only-desktop-flex {
    display: none !important;
  }
}

.only-desktop-block {
  display: block;
}

@media (max-width: 1265px) {
  .only-desktop-block {
    display: none !important;
  }
}
